AUTHENTICATION_API_KEY=
SERVER_URL=http://localhost:8080
SERVER_PORT=8080

DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://evolution:evolution_local_password@evolution-postgres:5432/evolution_api?schema=public
DATABASE_CONNECTION_CLIENT_NAME=evolution_cain_local

CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://evolution-redis:6379/0
CACHE_REDIS_PREFIX_KEY=evolution_cain

QRCODE_LIMIT=30
LANGUAGE=pt-BR

